@import 'variables';

header {
    background-image: url('img/jumbo.jpg');
    background-size: cover;
    background-position: -180px 0px;
    height: 88vh;

    #title {
        color: $color-primary;
        background-color: transparent;
        width: 70%;
        height: 450px;
        justify-content: center;
        flex-direction: column;

        h1 {
            font-size: 60px;
        }

        h3 {
            font-size: 25px;
            font-weight: 500;
            line-height: 60px;
        }

    }

    >div {
        background: $bg-navbar;
        color: $color-secondary;
        display: flex;
        justify-content: space-between;
        padding: 15px 200px;
        font-size: 12px;
    }

    nav {
        @include padding;

        background-color: $bg-nav;
        padding-top: 30px;
        padding-bottom: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            max-height: 48px;
            margin-right: 100px;
        }

        ul {
            display: flex;
            width: 100%;
            justify-content: space-between;
            align-items: baseline;

            li>div {
                position: absolute;
                left: 0;
                bottom: -7px;
                width: 100%;
                background-color: $color-light;
                border-radius: 50px;
                height: 2px;
                width: 0%;

                transition: width 0.5s;
            }

            .menu {
                position: relative;
                margin-top: 20px;

                &:hover>div {
                    width: 100%;
                }


                a {
                    color: $color-primary;

                    &:hover {
                        color: $color-strong;
                        transition: 0.5s;
                    }
                }
            }

        }
    }
}

// bottoni in fixed laterali
.fix-button {
    @include fix-btn;
}

.form-section {
    display: flex;
    position: relative;
    height: 90vh;
    padding-top: 80px;
    padding-bottom: 80px;

    div {
        width: 45%;

        h2 {
            font-size: 40px;
            color: $color-secondary-title;
            margin-bottom: 30px;
        }
    }

}

.form-card {
    position: absolute;
    background-color: #fff;
    top: -50px;
    right: 180px;
    max-width: 500px;
    box-shadow: $shadow;
    border-radius: 10px;
    padding: 40px 50px;
    text-align: center;
    z-index: 99;

    h3 {
        color: $color-strong;
        margin-bottom: 40px;
        font-size: 30px;
    }

    ul {
        li {
            margin: 30px 0;
            border: 2px solid #d8d8d8;
            border-radius: 5px;
        }

        input {
            background-color: #e4e2e2e0;
            padding: 15px 1em;
            width: 100%;
            outline: 0;
            border: none;

        }
    }
}

.learn-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 60px 180px;
    background-image: url('img/bg-car.jpg');
    background-size: cover;
    color: $color-primary;

    h2 {
        font-size: 40px;
        margin-bottom: 15px;
    }

    span {
        margin-right: 80px;
        font-size: 35px;
    }
}

.sec-course {
    position: relative;
    height: 70vh;
    background-image: url('img/bg-car-w.jpg');
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;

    #triangle {

        @include triangle;

    }

}