// colori di root
$color-primary:white;
$color-secondary:#929aa3;
$color-light:#7abc64;
$color-secondary-title:#494c4e;
$color-title-light:#a7adb4;
$color-strong:#69aa53;
$color-plus: #7799ad;
$color-input:#e8ece7;
$color-hover-link:#2fff41;
//bg
$bg-nav:rgba(68, 66, 66, 0.3);
$bg-navbar:#484848;
$bg-nav-resize:rgba(53, 54, 55, 0.9);
$bg-rotate:#e5e8eb;
$bg-footer: #1c1d1e;
$shadow:0 0 25px 5px rgb(0 0 0 / 20%);

// misura standard laterale
@mixin padding {
    padding: 80px 200px;
}

// regole dei button classici
@mixin btn-primary {
    padding: 13px 29px;
    font-size: 13px;
    font-weight: 700;
    background-color: $color-light;
    border-radius: 25px;
    color: $color-primary;

    &:hover {
        background-color: $color-strong;
        transition: 0.4s;
    }
}

// button secondari
@mixin btn-secondary {
    padding: 10px 20px;
    font-size: 13px;
    font-weight: 700;
    border: 3px solid $color-plus;
    border-radius: 25px;
    color: $color-plus;

    &:hover {
        color: $color-light;
        border-color: $color-light;
        transition: 0.4s;
    }

}

// regole dei btn in fix
@mixin fix-btn {

    position: fixed;
    top: 140px;
    right: 15px;
    z-index: 900;

    div {
        box-shadow: $shadow;
        text-align: center;
        margin-bottom: 10px;
        padding: 10px 12px;
        border-radius: 7px;
        background-color: #fff;

        img {
            display: block;
            width: 40px;
        }

        span {
            font-size: 12px;
            font-weight: 700;
            color: $color-plus;
        }
    }

}

@mixin triangle {

    position: absolute;
    left: 0;
    bottom: -199px;
    width: 0;
    height: 0;
    line-height: 0;
    border-top: 200px solid #e4eaed;
    border-left: 800px solid transparent;
    border-right: 710px solid transparent;
}

@mixin card {
    position: absolute;
    background-color: $color-primary;
    box-shadow: $shadow;
    padding: 40px 50px;
    border-radius: 10px;
    text-align: center;
    z-index: 99;
}

@mixin animated-circle {
    position: absolute;
    height: 200px;
    width: 200px;
    border: 10px solid;
    border-radius: 100%;
    border-color: $color-light;
}

@mixin hover-img {
    transform: scale(1.1);
    filter: contrast(110%);
    box-shadow: $shadow;

}

@mixin bg-hover {
    transform: scale(1.1);
    opacity: 0.9;
}

// effetto fix button
@keyframes moveToRight {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(300px);
    }
}

@mixin top-tooltip {
    position: absolute;
    display: none;
    bottom: 120%;
    left: -20px;
    padding: 2px 4px;
    background-color: black;
    opacity: 0.7;
    color: #fff;
    text-align: center;
    font-size: 10px;
    border-radius: 5px;

    &::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
    }
}

@mixin bottom-tooltip {
    position: absolute;
    display: none;
    bottom: -100%;
    left: 20px;
    padding: 2px 4px;
    background-color: $bg-nav-resize;
    opacity: 0.7;
    color: $color-primary;
    text-align: center;
    font-size: 11px;
    border: 1px solid $color-primary;
}