// colori di root
$color-primary:white;
$color-secondary:#929aa3;
$color-light:#7abc64;
$color-secondary-title:#494c4e;
$color-strong:#69aa53;
$color-plus: #0f1d1f;
//bg
$bg-nav:rgba(68, 66, 66, 0.3);
$bg-navbar:#484848;
$bg-rotate:#e5e8eb;
$shadow:0 0 25px 5px rgb(0 0 0 / 20%);

// misura standard laterale
@mixin padding {
    padding: 0 200px;
}

// regole dei button classici
@mixin btn-primary {
    padding: 13px 29px;
    font-size: 13px;
    font-weight: 700;
    background-color: $color-light;
    border-radius: 25px;
    color: $color-primary;

    &:hover {
        background-color: $color-strong;
        transition: 0.4s;
    }
}

// regole dei btn in fix
@mixin fix-btn {

    position: fixed;
    top: 140px;
    right: 15px;

    div {
        box-shadow: $shadow;
        text-align: center;
        margin-bottom: 10px;
        padding: 10px 12px;
        border-radius: 7px;
        background-color: #fff;

        img {
            display: block;
            width: 40px;
        }

        span {
            font-size: 12px;
            font-weight: 700;
            color: $color-plus;
        }
    }

}

@mixin triangle {

    position: absolute;
    left: 0;
    bottom: -199px;
    width: 0;
    height: 0;
    line-height: 0;
    border-top: 200px solid #e4eaed;
    border-left: 800px solid transparent;
    border-right: 710px solid transparent;
}