@import 'partials/homepage';
@import 'partials/variables';

// proprieta root
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
    
}

.btn-primary{
    @include btn-primary
}

.btn-secondary{
    @include btn-secondary;
}

section{
    @include padding;
}

.lg-p{
    font-size: 21px;
    color: $color-secondary;
    line-height: 40px;
    margin-bottom: 30px;
}

.sm-p{
    color: $color-secondary;
    line-height: 30px;
    margin-bottom: 40px;
}


